@media (max-width: 1024px) {
  body {
    background: #c7b39b url(s34fds.png);
    color: #fff; /* Color of text. */
   	  }
}

@media (min-width: 1200px) {
    body {
    background: #c7b39b url(search.png);
    color: #fff; /* Color of text. */
   	  }
}
